*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: fixed;
    z-index: 8;
    mix-blend-mode: difference;
    transition: background-image ease 0.2s;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items:center;
    justify-content: center;

}
.purple{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    /* background-color: #ff31ff; */
    background-color:pink;
    z-index: 100;
    opacity: 0;
    display: none;
    transition: all ease 1s;

}
.marque{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.marque .stripe{
    width: 100%;
    height: 10vw;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.stripe .container{
    width: fit-content;
    display: flex;
    align-items: center;
}
.container .elmm{
    /* background-color: yellow; */
     display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 3vw;
    flex-shrink: 0;
} 
.container .elmm h1{
    color: #111;
    font-weight: 500;
    font-size: 5vw;
}
.elmm .photo{
    width: 6vw;
    height: 6vw;
    background:url(https://plus.unsplash.com/premium_photo-1680721445448-33ed9d682c3a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    object-fit: cover;
}  

.main{
    background-color: #0F0D0D;
    cursor: none;
}
.page1{
    min-height:100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 8vw;
    
}
.nav{
    width: 100%;
    height: 50px;
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
.nav h1{
    font-stretch:10%;
    font-weight: 500;
}
.nav_part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.nav .circle{

    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.nav h4{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.nav h4:nth-child(1){
    /* color: rebeccapurple; */
    border-bottom: 1px solid orange;
}
.page1>h1{

    font-size: 8vw;
    font-weight: 300;
    margin-top: 10vw;
    margin-left:6vw ;
    text-transform: capitalize;
}
.page1>h2{

    font-size: 8vw;
    font-weight: 300;
    margin-left:26vw ;
    text-transform: capitalize;
}
.page1 video{
    
   width: 30%;
   position: relative;
   margin-top: 10vw;
   left: 50%;
   transform: translate(-50%,0);
    
}
.page2_container{
    height: 60vh;
    width: 100%;
    /* background-color:maroon; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}
.page2{
    min-height: 80vh;
    width: 100%;
    padding: 5vw;
    border-bottom: 1px solid #111;
    position: relative;
    z-index: 9;
    padding-top:10vw;
}
.page2 h1{
    font-size: 6vw;
    font-weight: 500;
    text-transform: capitalize;
    color: #111;
    padding-left: 5vw;
}
.page2_left{
    /* background-color: blue; */
    width: 35%;
}
.page2_left  h2{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    color: #111;
    line-height: 3vw;
}
.page2_right{
    /* background-color: blue; */
    width: 30%;
}
.page2_right p{

    font-size: 1.5vw;
    color: #111;
}
.page2_right button{
    width: 100%;
    border-radius: 50px;
    padding: 0.1vw;
    border: none;
    background-color: #ff31ff;
    color: #111;
    margin-top: 20px;
}
.page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: yellow; */
    padding:  0 5vw;
    position: relative;
    z-index: 9;
}
.page3 h1{
    font-size: 6.5vw;
    font-weight: 500;
    color: #111;
    padding-top: 5vw;
}
.page3 .page3_part1{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;

}
.page3 .page3_part1 img{
    width: 40%;
    margin-bottom: 10vw;
}
.page3 .page3_part1 video{
    width: 35%;
    margin-top: 6vw;
}

.page4{
    min-height: 70vh;
    width: 100%;
    position: relative;
    z-index: 9;  
}
.el{
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5vw; */
    position: relative;
}
.el img{
    width: 200px;
    height:200px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(5deg);
}
.el img:nth-child(1){
    left: 15%;
}
.el img:nth-child(3){
    right: 15%;
}
.text_div{
    height: 7vw;
    /* background-color: springgreen; */
    padding: 0 4vw;
    overflow: hidden;
}
.el h1{
    font-size: 6vw;
    font-weight: 500;
    transition: all ease-out 0.5s;
    color: #dadada;
}
.el:hover h1{

    transform: translateY(-100%);
    color: #ff31ff;
}
.el:hover img{

    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}
.page5{
    min-height: 100vh;
    /* background-color: red; */
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 5vw 5vw;
}
.page5 h2{
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 500;
    margin: 2vw 0;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vw;
    padding: 0 5vw;
    border-top: 1px solid #dadada;
}
.box:nth-last-child(1){
    border-bottom: 1px solid #dadada;
}
.footer{
    height: 100vh;
    width: 100%;
}
.footer .footer1{

    width: 100%;
    height: 30vw;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer .footer1 h1{
    font-size: 7vw;
    font-weight: 500;
    color: #111;

}
.footer .footer1 .sphare{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.footer .footer1 .sphare p{
    text-transform: capitalize;
    font-size: 1vw;
    color: #111;

}
.footer .footer2{

    width: 100%;
    height: 20vw;
    /* background-color: springgreen; */
    padding: 0 12vw;
 
}
.footer .footer2 h3{

    font-weight: 500;
    color: #0F0D0D;

}
.footer .small_text{

    width: 100%;
    height: 10vw;
    display: flex;
    /* background-color: yellow; */
    justify-content:flex-start;
    gap: 10vw;
    align-items: center;


}
.footer .small_text .text1 p{

    color: #0F0D0D;
    font-size: 0.8vw;
   
}



